name: 'lint' 
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: linting and format
        uses: devcontainers/ci@v0.3
        with:
          # Change this to point to your image name
          cacheFrom: ghcr.io/aatchison/pulumi/cached-devcontainer
          # Change this to be your CI task/script
          runCmd: ruff format --check --diff